h1 {
color: #bc6c25;
text-transform: uppercase;
text-align: center;
text-decoration: underline;
letter-spacing: 2px;
font-weight: 500;
font-family: Arial, Helvetica, sans-serif; /*Font types going from left to right sans-serif acts as a last resort*/
}

p {
    color: #fefae0;
}

figcaption {
    text-align: center;
    color: #fefae0;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

a {
    text-decoration: none;
}

a:hover {
    color:green;
    text-decoration: underline;
}

img.avatar {
    display:block;
    margin: 0 auto;
    box-shadow: 1px 1px 5px 0px orange;
}

p {
    text-align: center;
    font-weight: normal;
    line-height: 1.4;
    animation-duration: 1s;
    animation-name: normal;
}

@keyframes normal {
  from {
      margin-top: 100%;
}
}

h2, h3  {
    color: #dda15e;
    text-align: center;
}


body {
    background-color: #131516;
}

.list { /* This is a class */
    color: #fefae0;
    text-align: left;
    text-align: center;
    display: table;
    margin: 0 auto;
    
}

footer p {
    color: blue;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

h2::first-letter {
    font-size: 25px;
    color: green;
}

#chart {
 width: 200px;
 height: 200px;
 margin: auto;
 background: rgba(255, 255, 255, 1);
 border-radius: 50%
}

.red {
 width: 100px;
 height: 100px;
 background: rgba(255, 0, 0, 0.5);
 border-radius: 50%;
 position: relative;
 top: -190px;
 left: 50px;
}

.blue {
 width: 100px;
 height: 100px;
 background: rgba(0, 0, 255, 0.5);
 border-radius: 50%;
 position: relative;
 top: -30px;
 left: 10px;
}

.green {
 width: 100px;
 height: 100px;
 background: rgba(0, 255, 0, 0.5);
 border-radius: 50%;
 position: relative;
 top: 70px;
 left: 90px;
}

